<style>{% include "email/style/email.css" %}</style>

<div class="main-container">
    <div class="header">
        <h2 class="logo">Snowtricks</h2>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        Snowtricks &copy;
    </div>
</div>