{% extends 'base.html.twig' %}

{% block title %}{{ tricks.name }}{% endblock %}

{% block body %}
    
    {% include "components/_header_tricks.html.twig" with {tricks: tricks, editable: true} only %}

    <div id="trick-detail-container" class="row flex-nowrap pt-5 pb-2">
        {% for media in tricks.medias %}
            {% include "components/_card_tricks_detail.html.twig" with {media: media} only %}
        {% endfor %}
    </div>

    {% include "components/_button_border.html.twig" with {name: 'Voir plus de médias'} only %}

    <div class="container pt-4">
        <div class="row">
            <div class="col-12 pb-4">
                <p>{{ tricks.description }}</p>
            </div>
        </div>

        {% include "components/_description_tricks.html.twig" with {title: 'Date de création', value: tricks.createdAt|date("d/m/Y")} only %}
        {% include "components/_description_tricks.html.twig" with {title: 'Catégorie', value: tricks.groupStunt} only %}
        {% include "components/_description_tricks.html.twig" with {title: 'Date de modification', value: tricks.updatedAt|date("d/m/Y")} only %}

        <hr>
            Formulaire
        <hr>

        <div class="row">
            <h3>Commentaires :</h3>
            {% for item in 1..10 %}
                <div class="col-12 comment">
                    <div>
                        <span class="pseudo">Bob</span>
                        <span class="comment-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem ipsam voluptates magnam, a quibusdam similique nobis aut totam maiores eos sed officia consectetur. Dolores quas vel impedit similique quidem provident.</span>
                    </div>
                    <span class="comment-date">20/05/2022</span>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
