<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 py-2">
    <div class="bg-light card-tricks">
        <div class="img-tricks">
            <img class="img-fluid" src="{{ asset('assets/img/figure.jpg') }}" alt="">
        </div>
        {% if editable == true %}
            <div class="card-edit-tricks">
                <a href="#"><i class="bi bi-pencil-fill"></i></a>
                <a href="#"><i class="bi bi-trash-fill"></i></i></a>
            </div>
        {% endif %}
    </div>
</div>