<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 py-2">
    <div class="trick-content">
        <div class="img-tricks">
            <a href="{{ path('app_tricks_detail', { slug: 'toto'}) }}"><img class="img-fluid" src="{{ asset('assets/img/figure.jpg') }}" alt=""></a>
        </div>
        <div class="manage-tricks">
            <h3><a href="article.html">Slides</a></h3>
            <a href="#" class="ms-auto"><i class="bi bi-pencil-fill"></i></a>
            <a href="#"><i class="bi bi-trash-fill"></i></i></a>
        </div>
    </div>
</div>