{% for comment in comments %}
	<div class="col-12 comment">
        {% include "components/_picture_profile.html.twig" with {user: comment.user} only %}
		<div>
			<span class="pseudo">{{comment.user.pseudo}}</span>
            {% if comment.status == 1 %}
			    <span class="comment-content">{{comment.comment}}</span>
            {% else %}
                <span class="comment-content"> Le commentaire à été désactivé.</span>
            {% endif %}
		</div>
		<span class="comment-date">{{comment.createdAt|date("d/m/Y")}}</span>
	</div>
{% endfor %}
