<div class="col-12 loader none">
    <div class="spinner-border text-light" role="status"></div>
    <span class="text-light">Chargement</span>
</div>

<div class="col-12 d-flex justify-content-center" id="view-more" data-pagination="">
    <a class="btn btn-secondary" href="{{ path('') }}">Afficher plus</a>
</div>
