<div class="row h-100">
	<div class="col-12 d-flex flex-column justify-content-center align-items-center">
		<h2 class="sign-title">{{ title }}</h2>
		<div id="sign-container">
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Email address</label>
				<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
			</div>
			<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>

            {% if app.request.attributes.get('_route') == 'app_signin' %}
                <a href="{{ path('app_forgot_password') }}">Mot de passe oublié ?</a>
            {% endif %}

            {% if app.request.attributes.get('_route') == 'app_signup' %}
                <a href="{{ path('app_signin') }}">J'ai déjà un compte !</a>
            {% endif %}

            <div class="text-end">
                <button class="btn-custom" type="submit">{{ button_text|default('Soumettre') }}</button>
            </div>
		</div>
	</div>
</div>
