<h2>Snowtricks</h2>
<p>Vous venez de faire la demande pour réinitialiser votre mot de passe pour cela veuillez cliquer sur le lien ci-dessous.</p>
<a href="{{ url('app_reset_password', {email: user.email, resetPassword: user.resetPassword}) }}">Réinitialiser mon mot de passe</a>