
{% extends "email/base/base.email.html.twig" %}

{% block content %}
    <h3>Votre mot de passe à bien été réinitialisé</h3>
    <p>Si cette activité est inhabituelle, veuillez contacter immédiatement par email le service Snowtricks</p>
    <a href="mailto:contact@snowtricks.fr" class="btn-action">Service Snowtricks</a>
{% endblock %}